<div class="container">
    <%- include('layouts/navbar') %>
    <form action="/edit">
        <div class="input-group mb-3 w-50">
            <% let s = locals.keyword || '' %>
            <input type="text" name="keyword" class="form-control" value="<%= s %>">
            <button class="btn btn-outline-primary">Search</button>
        </div>
    </form>
    <% let column = ['Type', 'Name', 'HP', 'STR', 'TEC', 'WLK', 'FLY', 'TGH', 'Cost'] %>
    <table class="search-table table">
        <thead>
            <tr>
                <th class="text-center"><a href="#" id="btn-edit">Edit</a> / <a href="#" id="btn-del">Del</a></th>
                <% for(let v of column){ %>
                    <th><%= v %></th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% if(locals.data && locals.data.length > 0){ %>
                <% for(let row of data){ %>
                    <tr>
                        <td class="text-center"><input type="checkbox" name="cb" value="<%= row._id %>" class="form-check-input"></td>
                        <td><%= row.type %></td>
                        <td><%= row.name %></td>
                        <td><%= row.hp %></td>
                        <td><%= row.str %></td>
                        <td><%= row.tec %></td>
                        <td><%= row.wlk %></td>
                        <td><%= row.fly %></td>
                        <td><%= row.tgh %></td>
                        <td><%= row.cost %></td>
                    </tr>
                <% } %>
            <% }else{ %>
                <tr>
                    <td colspan="<%= column.length + 1 %>" class="text-center">No data found!</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>